.about__grid {
    border: 1px solid #c0bcb3;
    border-radius: 32px;
    padding: 16px 8px 16px 16px;
}

.about__grid-item {
    padding-top: 66px;
    padding-left: 30px;
}

.about__tag {
    background-color: #EE6352;
    display: inline-block;
    color: $bg-color;
    padding: 4px 8px;
    font-size: 14px;
    border-radius: 12px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 8px;
}

.about__title {
    font-family: $font-accent;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 12px;

}

.about__subtitle {
    font-size: 16px;
    font-weight: 300;
    width: 385px;
    line-height: 1.5;

}

.about__grid-img.second {
    width: 326px;
}

.about__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
}

.about__grid-item {
    grid-area: 1 / 1 / 2 / 2;
}

.about__grid-img.first {
    grid-area: 2 / 1 / 3 / 3;
}

.about__grid-img.second {
    grid-area: 1 / 2 / 2 / 3;
    width: 316px;
    margin-left: 108px;
}

.about__grid-img.third {
    grid-area: 1 / 3 / 3 / 4;
    width: 411px;
}

.about-img__mob {
    display: none;
}