.tips__main {
    margin-top: 80px;
    margin-bottom: 112px;
}

.tips__item {
    display: flex;
    align-items: center;
}

.tips__title {
    font-family: $font-accent;
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 800;
    color: $dark;
    width: 763px;
    line-height: 1;
}

.tips__subtitle {
    font-size: 21px;
    width: 537px;
    text-align: right;
    font-weight: 300;
    line-height: 1.5;
}