@media (max-width: 375px) {
    // header
    .nav {
        display: none;
    }

    .header__button {
        display: none;
    }

    //main
    .main__img {
        display: none;
    }

    .mobile__img {
        display: inline-block;
    }

    .main__title {
        font-size: 38px;
    }

    .main__subtitle {
        font-size: 16px;
        width: 311px;
        margin-top: 12px;
    }

    .main__button {
        font-size: 14px;
    }

    //explore
    .explore__content {
        border-radius: 24px;
        margin-top: 80px;
        padding: 24px;
        padding-top: 0;
        height: auto;
        flex-direction: column;
    }

    .explore__text {
        padding-top: 40px;
    }

    .tag {
        font-size: 14px;
    }

    .explore__title {
        font-size: 26px;
    }

    .explore__subtitle {
        font-size: 14px;
        width: 273px;
    }

    .explore__button {
        font-size: 14px;
    }

    .explore__palette {
        margin-top: 64px;
    }

    .palette__item {
        padding-right: 24px;
        width: 292px;
    }

    .palette__title {
        font-size: 16px;
    }

    //featured
    .featured__header {
        display: inline-block;
    }

    .featured__title {
        font-size: 26px;
        padding-left: 0;
        margin-bottom: 24px;
    }

    .featured__items {
        flex-direction: column;
    }

    .featured__item {
        width: 100%;
        height: 496px;
        border-radius: 24px;
    }

    .featured-item__text {
        font-size: 21px;
    }

    .featured-item__title {
        font-size: 21px;
    }

    .featured-item__subtitle {
        font-size: 14px;
    }

    .featured-time__text {
        flex-direction: column;
        align-items: start;
    }

    .time__title {
        font-size: 12px;
        padding: 10px 16px 16px 25px;
    }

    .time__button {
        font-size: 14px;
        padding: 12px 90px;
        margin: 0 auto;
    }

    .featured-item__img {
        display: none;
    }

    .featured-item__tag {
        padding: 180px 0px 0px 220px;
    }

    .featured-item__img.first {
        display: none;
    }

    .featured-item__img.mobile {
        display: inline-block;

    }

    //recipes
    .recipes {
        margin-bottom: 24px;
    }

    .recipes__header.title {
        width: 100%;
        font-size: 26px;
    }

    .recipes__header.subtitle {
        width: 100%;
        font-size: 14px;
    }

    .recipes__category {
        text-align: left;
    }

    .recipes__category.btn {
        font-size: 14px;
        margin-right: 8px;
        margin-bottom: 16px;
    }

    .recipes__cards {
        flex-direction: column;
    }

    .recipes__card {
        width: 100%;
        margin-bottom: 16px;
    }

    .recipes-card__title {
        font-size: 21px;
    }

    .recipes-card__subtitle {
        font-size: 14px;
    }

    .recipes-time__text {
        align-items: start;
        flex-direction: column;
    }

    .recipes-time__title {
        font-size: 12px;
        margin-bottom: 16px;
    }

    .recipes-time__button {
        font-size: 14px;
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }

    //about us
    .about__grid {
        padding: 0 8px;
        padding-bottom: 8px;
        border-radius: 24px;
    }

    .about__grid-item {
        padding: 40px 0;
    }

    .about__tag {

    }

    .about__title {
        font-size: 26px;
    }

    .about__subtitle {
        font-size: 14px;
        width: 311px;
    }

    .about__img {
        display: none;
    }

    .about__img.mob {
        display: inline-block;
    }

    .about__grid {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .about__grid-img.second {
        margin-left: 0;
        width: auto;
    }

    .about__grid-img.third {
        width: auto;
    }

    //subscribe
    .subscribe__block {
        background-image: url(../assets/imgs/adaptive/footerbgmob.png);
        height: 504px;
    }

    .subscribe__tag {
        font-size: 16px;
    }

    .subscribe__title {
        font-size: 38px;
    }

    .subscribe__subtitle {
        font-size: 16px;
        width: 311px;
    }

    .subscribe__form {
        flex-direction: column;
        background-color: transparent;
        width: auto;
        padding: 0;
    }

    .form {
        margin-bottom: 8px;
        background-color: #F0EBE1;
        padding: 12px 24px;
        border-radius: 24px;
        font-size: 16px;
        width: 311px;
    }

    .form__btn {
        padding: 12px 24px;
        font-size: 14px;
        width: 311px;
    }

    //footer
    .footer__header {
        flex-direction: column;
        border: 0;
    }

    .footer__links {
        font-size: 14px;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #363531;
        margin-top: 24px;
        margin-bottom: 24px;
        width: 295px;
        text-align: left;
    }

    .footer__link {
        padding-left: 0;
        margin-top: 16px;
        border-right: 0;
        border-bottom: 1px solid #363531;
        padding-bottom: 12px;
    }

    .footer__socials {
        padding-bottom: 24px;
        padding-left: 75.5px;
        width: 295px;
        border-bottom: 1px solid #363531;
    }

    .footer__social {
        text-align: center;
        justify-content: space-evenly;
    }
}