/*

font-family: "Roboto", sans-serif;
font-family: "Montserrat", sans-serif;

*/

// fonts
$font-main: "Roboto", sans-serif;
$font-accent: "Montserrat", sans-serif;

// colors
$bg-color: #F0EBE1;
$accent-color: #262522;
$light: #FFFBF2;
$dark: #262522;